body{
    background-color:peachpuff;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    line-height: 1.6em;
    margin: 50;
    padding: 0%;
}
.box-1 {
    color:maroon
}
.box-1 h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-style:italic;
    text-decoration:underline;
    text-transform: capitalize;
    letter-spacing: 0.01cm;
    word-spacing: 1em;
}
.nav-container{
    background-color:peachpuff;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    color:red;
}
a:active {
    color:royalblue
}
a:visited {
    color:purple
}
.nav-container {
    width:80%;
    margin: auto;
    justify-content: center;
    justify-content:space-around;
}
.box-2 {
    text-decoration: underline;
    letter-spacing: 0.2;
    word-spacing: 0.3em;
    font-style: oblique;
}
 ul {
    padding:0;
    padding: 20px;
    list-style: none;
}
li {
    padding-bottom: 6x;
}
.box-3 {
    display:flex;
    flex-direction: row;
    background-color: darksalmon;
}
.box-4 {
    display:flex;
    flex-direction: row;
    background-color: darksalmon;
}
.box-5 {
    display:flex;
    flex-direction:row;
    background-color: darksalmon;
}
.box-6 {
    display:flex;
    flex-direction:row;
    background-color: darksalmon;
}
.box-7 {
    display:flex;
    flex-direction: row;
    background-color: darksalmon;
}
img {
    width: 250px;
    height: 250px;
}